/*
body{
    background-color: var(--firstBackgroundCol);
}*/

h1.title {
  color: black;
}

/*
* Do not display certain elements
*/
p {
    /*TODO: Hide org properties (are in p tags).*/
    /*display: none;*/
}

ul.nav li a span.tag {
    /* Erase tags from table of contents of readthedocs. */
    display: none;
}

/*
* Make headings up to a certain level like lists:
*/
h4,h5,h6 {
/*
Modify deep headings (beginning with level 4) to look like they were items too.
(Actually, readthedocs converts headings from h5 onwards as lists, but we implement it like this, just in case).
We will have to add some top spacing between the end of h4 and beginning of h3 elems
*/
    display: list-item;
    margin: 0;
    margin-left: 0em;
    padding: 0px;
    border: none;

}
/**/
h4::marker,h5::marker,h6::marker {
    color: black;
    font-size: 16px;
}

h4 a {
    font-size: 15px;
}
h5 a {
    font-size: 15px;
}
h6 a {
    font-size: 15px;
}
h3 {
    box-sizing: content-box;
    padding-top: 20px;
}
