/* 
 * CSS taken from: http://mooz.github.io/org-js/
 * (specifically: http://mooz.github.io/org-js/editor/editor.css)
 */
/*
 * ./tweak.css
 */
body {
    padding-top: 10px;
}

/* Panel */

#org-input-closer {
    font-weight: bold;
    padding: 3px 8px;
    text-align: right;
    cursor: pointer;
}

#panel, #org-input {
    background-color: black;
    opacity: 0.9;
    color: white;
}

#panel {
    position: fixed;
    top: 10px;
    right: 10px;
}

#org-input {
    min-height: 300px;
    min-width: 400px;
    font-family : Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

/* Code */

pre code {
    background-color: inherit;
    color: inherit;
    padding: 0;
}

/* Result */

#result {
    border                : 1px solid #ccc;
    padding               : 4px;
    overflow              : auto;
}

#result > * {
    padding-left: 4px;
}

/* TODO status*/
span.task-status {
    padding : 0 0.2em;
    margin-right : 10px;
    color : white;
}

span.task-status.todo {
    color: white;
    background-color: rgb(39, 149, 182);
}

span.task-status.done {
    color: white;
    background-color: rgb(81, 143, 31);
}

/* Section Number */
.section-number {
    padding-right : 10px;
    font-weight   : bold;
    color         : rgb(0, 90, 190);
    font-style    : italic;
}

.org-subscript-child {
    font-size : 85%;
}
/*
 * ./editor.css
*/
html, body {
    height   : 100%;
    margin   : 0;
    padding  : 0;
    overflow : hidden;
}

body {
    font-family : 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

/* ==================================================
   href
   ================================================== */

a {
    text-decoration : underline;
    color           : #0a5b8d;
    font-weight     : bold;
}

a, a:link, a:visited {
}

a:hover, a:active {
    text-decoration : none;
}

/* ==================================================
   Content
   ================================================== */

#container {
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#container > div {
    float  : left;
    width  : 50%;
    height : 100%;
}

.input, #result {
    display          : block;
    width            : 100%;
    height           : 100%;
    background-color : white;
    outline          : none;
    border           : 0px;
    margin           : 0;
    padding          : 0;
}

#result-container {
}

.input {
    font-family      : Monaco, Consolas, "Bitstream Vera Sans Mono", monospace;
    overflow         : auto;
    padding          : 10px;
}

#result {
    border      : 0;
    overflow    : auto;
    border-left : 1px solid black;
}

/* ==================================================
   Text
   ================================================== */

/* title */
#result h1 {
    font-family      : "Century Gothic", "Trebuchet MS", sans-serif;
    font-variant     : small-caps;
    text-align       : center;
    font-weight      : bold;

    margin           : 0px auto 4px auto;
    padding          : 8px 4px;
    background-color : #030500;
    color            : #f8ffee;
    text-align       : right;
    font-size        : 240%;
}

#result h2 {
    font-size     : 180%;
    font-family   : "Century Gothic", "Trebuchet MS", sans-serif;
    font-variant  : small-caps;
    border-bottom : 1px solid #0E0E10;
    padding       : 3px 10px;
    margin        : 8px auto;
    font-weight   : bold;
}

#result h3 {
    font-size     : 160%;
    border-bottom : 1px dashed #0E0E10;
    padding       : 3px 10px;
    margin        : 8px auto;
    font-weight   : bold;
}

#result h4 {
    font-size     : 130%;
    padding       : 3px 10px;
    margin        : 8px auto;
    font-weight   : bold;
}

#result h5 {
    font-size     : 110%;
    padding       : 3px 10px;
    font-weight   : bold;
}

#result pre, #result code {
    border           : 1px solid #e2e2e2;
    background-color : #ededed;
}

#result pre > code {
    border : 0;
}

#result p {
    padding : 4px 7px;
    margin  : 0;
}

#result pre {
    padding : 4px 7px;
    margin  : 8px;
}

#result code {
    margin-left   : 3px;
    margin-right  : 3px;
    padding-left  : 3px;
    padding-right : 3px;
}

/* http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/ */

#result table {
    font-family     : "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background      : #fff;
    margin          : 10px auto;
    width           : 80%;
    border-collapse : collapse;
    text-align      : left;
}

#result th {
    font-weight   : bold;
    color         : #039;
    padding       : 6px 8px;
    border-bottom : 2px solid #6678b1;
}

#result td {
    border-bottom : 1px solid #ccc;
    color         : #212142;
    padding       : 6px 8px;
}

#result dl {
    padding     : 5px 7px;
    margin      : 4px 7px;
}

#result dl dt {
    font-weight   : bold;
    margin        : 4px 0;
    padding       : 4px;
    font-size     : 120%;
    border-bottom : 1px dashed #6678b1;
}

#result dl dd {
    border-bottom : 1px dashed #ccc;
    margin        : 7px 0 7px 2em;
    padding       : 4px 4px;
}

#result hr {
    height        : 1px;
    border-width  : 0;
    border-bottom : 1px solid black;
}

/* 
 * ./prettify.css 
 */
/* Tomorrow Night Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
  color: #c5c8c6;
}

@media screen {
  /* string content */
  .str {
    color: #b5bd68;
  }

  /* a keyword */
  .kwd {
    color: #b294bb;
  }

  /* a comment */
  .com {
    color: #969896;
  }

  /* a type name */
  .typ {
    color: #81a2be;
  }

  /* a literal value */
  .lit {
    color: #de935f;
  }

  /* punctuation */
  .pun {
    color: #c5c8c6;
  }

  /* lisp open bracket */
  .opn {
    color: #c5c8c6;
  }

  /* lisp close bracket */
  .clo {
    color: #c5c8c6;
  }

  /* a markup tag name */
  .tag {
    color: #cc6666;
  }

  /* a markup attribute name */
  .atn {
    color: #de935f;
  }

  /* a markup attribute value */
  .atv {
    color: #8abeb7;
  }

  /* a declaration */
  .dec {
    color: #de935f;
  }

  /* a variable name */
  .var {
    color: #cc6666;
  }

  /* a function name */
  .fun {
    color: #81a2be;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre.prettyprint {
  background: #1d1f21;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  padding: 10px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
