/* main style sheet */
/*@import url("tableOfConts.css");*/
@import url("orgjs.css");

:root {
  --firstBackgroundCol: #AAAAAF;
  --secondBackgroundCol: #f2f2f2;
  --blue: #04495e;
  --green: #e74c3c;
  --grey: #AAAAAF;
  --yellow: #C9C243;
  --orange: #FFA644;
  --blue2: #3498db;
  --red2: #E8615F;
  --black: #000040;
}
/* Try out with: body { color: var(--green); } */




/* 
 * Override orgjs css. 
 */

span.section-number {
    margin: 10px;
}

