/* some style */
@import url("override_readtheorg.css");
/*@import url("searchBar.css");*/
/*@import url("tableOfConts.css");*/
/*@import url("appList.css");*/
/*@import url("h2AsColumns.css");*/
/*@import url("outline2Border.css");*/

:root {
  --firstBackgroundCol: #AAAAAF;
  --secondBackgroundCol: #f2f2f2;
  --blue: #04495e;
  --green: #e74c3c;
  --grey: #AAAAAF;
  --yellow: #C9C243;
  --orange: #FFA644;
  --blue2: #3498db;
  --red2: #E8615F;
  --black: #000040;
}

/* Hide class. Required by ns hide-outlines*/
.hide {
    display: none;
}
