/* 
 * My changes to bastide.de css and/or Cryogen's default blue-theme and 
 * Note: CSS imports have to preced all other css rules (must 
 * be on top of the file).
*/
@import url("style_bastide_de.css");

/* 
 * profilePic: Shows pic as circle.
*/
#profilePic {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
}

/*
* Navigation bar (preamble)
*/

#header {
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em
}

.header{
    padding: 0.5% 0.5% 0.5% 3%;
    font-size: 24px;
    line-height: 40px;
    font-weight: 200;
    box-shadow: 0px 2px 2px grey;
    background: #000000;
    /* background: linear-gradient(to top,#2E435E,#172E50); */
    color: #eee;
    border: solid 3px transparent;
    border-bottom-color: #aaa;
    text-align: left;
}
.header a {
    color: #eee;
}
.header a:hover {
    color: #fff;
}
.sitelinks {
    float: right;
}
.sitelinks a {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12pt;
    /* line-height: 30px; */
    color: #999;
    text-align: right;
}

.sitelinks a:hover {
    color: #fff;
    background-color: #3d80ba;
}

/*
* Body and content div
*/

body {
    color: #333;
    background-color: #f2f2f2;
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-size: 16px;
}

#content {
    background-color: #fff;
    margin-top: 1.5%;
    margin-bottom: 2%;
    margin-left: 20%;
    padding: 1% 3% 2% 3%;
    /*Round corners*/
    border-top-left-radius:     1em;
    border-top-right-radius:    1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius:  1em;
    /**border-radius: 999px;**/
    /** border: 2px solid #F2F2F2;**/
    box-shadow: 5px 5px 3px 3px #888888;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

.sidenote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

#content img {
    max-width: 100%;
    height: auto;
}



/*
* Archive button
*/
#archive {
    padding-bottom: 50px;
    padding-top: 30px;
    margin-top: 2em;
    font-size: 16px;
}


/*
.navbar-default {
    color: #000000;
    background-color: #000000;
    border: none;
}
*/

/*
* Content right margin is 818px. Once width reaches below that, change some pixel, floating and other values. 
*/
@media (max-width: 818px) {
    body{
      /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
      font-size: 16px;
    }
    #content{
      padding: 15px;
      max-width: 95%;
      padding-top: 3em;
      margin: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
    #profilePic {
      width: 150px;
    }

    #header {
        float: none;
    }

    .header{
        padding: 0.5% 0.5% 0.5% 3%;
        font-size: 24px;
        line-height: 50px;
        /* background: linear-gradient(to top,#2E435E,#172E50); */
        text-align: left;
    }

    .sitelinks {
        float: none;
    }
    .sitelinks a {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 12pt;
        text-align: left;
    }
}
